/* Import a font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600&display=swap');

/* Set HTML element styles */
html {
  box-sizing: border-box;
  font-size: 16px; /* Base font size for responsiveness */
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Set universal box-sizing property */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Set body element styles */
body {
  font-family: 'Roboto', sans-serif; /* Use the imported font */
  font-weight: 400; /* Set default font weight */
  line-height: 1.6; /* Set line height for better readability */
  color: #ffffff; /* Set default text color */
  background-color: #0b2347; /* Set background color */
  margin: 0;
  padding: 0;
}

/* Additional basic layout and styling */
.container {
  max-width: 1200px; /* Set maximum width for content */
  margin: 0 auto; /* Center content horizontally */
  padding: 0 20px; /* Add horizontal padding */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; /* Set heading font weight */
  line-height: 1.3; /* Set line height for headings */
  margin-top: 0; /* Remove default top margin */
}

p {
  margin-top: 0; /* Remove default top margin */
  margin-bottom: 1rem; /* Add margin below paragraphs */
}
