<script lang="ts">
import axios, { AxiosResponse } from "axios";
import moment from "moment";
export default {
  setup(): any {
    const route: any = useRoute();
    const router = useRouter();
    const store = useAppStore();
    const state = reactive({
      showTypeDropdown: false,
      clickedIndex: null,
      data: null,
      tableConfig: {
        columns: [],
      },
      allFieldTypes: ['string', 'number', 'date', 'object', 'array']
    });
    const url = store.getServerPath;
    const createNewField = (type: string, item: any, e:any) => {
      e.preventDefault()
      item.type = type
    }
    const formatDate = (value: any) => {
      const stillUtc = moment.utc(value).toDate();
      return moment(stillUtc).local().format("YYYY-MM-DD HH:mm:ss");
    };
    const submitForm = (e: any) => {
      e.preventDefault();
      axios.put(url + route.query.url, state.data).then((resp: AxiosResponse) => {
        if (resp && resp.status === 200) {
          goBack()
        }
      });
    }
    const checValueType = (value: any) => {
      const date = moment(value);
      if (typeof value === "string" && date.isValid()) {
        return "date";
      }
      if (value === null) {
        return 'unknown'
      }
      return typeof value;
    };
    const readObject = (obj: any) => {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) {
          state.tableConfig.columns.push({
            name: key,
            label: key,
            visible: !!obj[key],
            type: checValueType(obj[key]),
          });
        }
      }
    };
    const goBack = () => {
      router.go(-1)
    }
    onMounted(() => {
      if (route.query && route.query.url && route.query.id) {
        axios.get(url + route.query.url + '/' + route.query.id).then((resp: AxiosResponse) => {
        if (resp && resp.data) {
          state.data = resp.data;
          if (state.data) readObject(state.data);
        }
      });
      }
    });
    return {
      router,
      formatDate,
      goBack,
      createNewField,
      submitForm,
      store,
      ...toRefs(state),
    };
  },
};
</script>
<template>
  <section class="table-wrapper">
   <form @submit="submitForm">
    <div class="formGroup" v-for="(item, ind) in tableConfig.columns" :key="ind">
      <label :for="item.name + ind">{{ item.label }}</label>
      <input type="text" v-model="data[item.name]" :id="item.name" v-if="item.type === 'string'" :disabled="item.name === 'uid'"/>
      <input type="datetime" format="YYYY-MM-DD HH:mm:ss" :value="formatDate(data[item.name])" :disabled="item.name.toLowerCase() === 'createdat' || item.name.toLowerCase() === 'updatedat'" :id="item.name" v-if="item.type === 'date'"/>
      <input type="number" v-model="data[item.name]" :disabled="item.name === 'id' || item.name === 'version'" :id="item.name" v-if="item.type === 'number'"/>
      <div class="checkboxHolder">
        <input :id="'boolean'+ind" type="checkbox" v-model="data[item.name]" v-if="item.type === 'boolean'"/>
        <label :for="'boolean'+ind" v-if="item.type === 'boolean'">{{data[item.name] ? 'Yes' : 'No' }}</label>
      </div>
        <div v-if="item.type === 'unknown' && item.name !== 'createdBy' && item.name !== 'updatedBy'">
        <div class="columns-settings" @click="clickedIndex = ind">
      <div
        class="icon-holder"
        @click="showTypeDropdown = !showTypeDropdown"
      >
        <i class="dropdown-icon" :class="{ rotate: showTypeDropdown && ind === clickedIndex }" />
        <span>Choose field type</span>
      </div>
      <div class="columnSettingsDropdown" v-if="showTypeDropdown && ind === clickedIndex">
        <ul>
          <li v-for="(typeField, ind) in allFieldTypes" :key="ind">
            <button @click="(e)=>{createNewField(typeField, item, e)}">{{ typeField }}</button>
          </li>
        </ul>
      </div>
    </div>
      </div>
    </div>
    <div class="form_footer">
      <div class="button">
        <button type="submit" class="success">Submit</button>
        <button type="button" @click="goBack" class="danger">Cancel</button>
      </div>
    </div>
   </form>
  </section>
</template>
<style lang="scss" scoped>
/* Import a font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600&display=swap');

/* General table styling */
.table-wrapper {
  margin: 2em;
  max-width: 100%;
  overflow-x: auto;
}
.award-winning-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
}

/* Table header styling */
.award-winning-table thead {
  background-color: #3a3a3a;
  color: #ffffff;
}

.award-winning-table thead th {
  font-weight: 600;
  text-align: left;
  padding: 12px 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* Table body styling */
.award-winning-table tbody tr {
  border-bottom: 1px solid #e3e3e3;
}

.award-winning-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.award-winning-table tbody tr:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

.award-winning-table tbody td {
  padding: 12px 20px;
  font-weight: 400;
  color: #333333;
  vertical-align: middle;
}

/* Responsive design */
@media screen and (max-width: 767px) {
  .award-winning-table,
  .award-winning-table thead,
  .award-winning-table tbody,
  .award-winning-table th,
  .award-winning-table td,
  .award-winning-table tr {
    display: block;
  }

  .award-winning-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .award-winning-table tbody tr {
    margin-bottom: 1rem;
    border-bottom: 2px solid #3a3a3a;
  }

  .award-winning-table tbody td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #e3e3e3;
  }

  .award-winning-table tbody td:last-child {
    border-bottom: 0;
  }

  .award-winning-table tbody td:before {
    content: attr(data-column);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
    color: #3a3a3a;
  }
}
/* Container for the dropdown icon */
.dropdown-icon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Create the arrow shape using borders */
.dropdown-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #333; /* Adjust color to match your design */
  transition: transform 0.3s ease;
}

/* Add a new class for the rotation effect */
.dropdown-icon.rotate::after {
  transform: translate(-50%, -50%) rotate(360deg);
}
.columnSettingsDropdown {
  user-select: none;
  position: absolute;
  background-color: #e3e3e3;
  min-width: 260px;
  z-index: 99;
  border-radius: 4px;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  ul {
    list-style: none;
  }
}

/* Checkbox container */
.checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 28px;
  line-height: 20px;
}

/* Hide default HTML checkbox */
.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create custom checkbox design */
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #f5f5f5;
  border: 2px solid #3a3a3a;
  border-radius: 4px;
}

/* Create the checkmark indicator */
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid #3a3a3a;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Show the checkmark when the checkbox is checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Change the background color of the custom checkbox when it is hovered */
.checkbox-container:hover input:not(:checked) ~ .checkmark {
  background-color: #e0e0e0;
}
.rotate {
  transform: rotate(180);
}
.icon-holder {
  cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    user-select: none;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  i {
    cursor: pointer;
  }
}

/* Set form styles */
form {
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

/* Set form group styles */
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

/* Set label styles */
.formGroup label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333333;
}

/* Set input styles */
.formGroup input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  color: #333333;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Set input hover styles */
.formGroup input:hover {
  border-color: #999999;
}

/* Set input focus styles */
.formGroup input:focus {
  border-color: #3a3a3a;
  box-shadow: 0px 0px 3px rgba(58, 58, 58, 0.25);
}
.form_footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

/* Set button container styles */
.button {
  display: flex;
  gap: 1rem;
}

/* Set button styles */
.button button {
  background-color: #3a3a3a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Set button hover styles */
.button button:hover {
  background-color: #2c2c2c;
}

/* Set button focus styles */
.button button:focus {
  outline: none;
  box-shadow: 0px 0px 3px rgba(58, 58, 58, 0.25);
}

/* Set button active styles */
.button button:active {
  background-color: #1e1e1e;
}
.success {
  color: rgb(9, 200, 9);
}
.danger {
  color: rgb(248, 85, 85)
}
.checkboxHolder {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}
</style>
