<template>
  <div id="index" @dragover.prevent @drop="onDrop">
    <input type="text" v-model="tableName" />
    <button type="button" @click="fetchDB">Fetch Table</button>
    <div>
      <h2>Tables</h2>
      <DraggableElement
      v-for="(table, index) in data"
      :key="index"
      :id="'draggable-' + index"
      ref="draggableElements"
    >
    <div class="tableName" @click="toggleTableView(table[0].table)">{{ table[0].table }}</div>
              <ul v-if="expandedTables.findIndex((e) => e === table[0].table) > -1">
                <li v-for="column in table" :key="column">
                  {{ column.column }}: {{ column.type }}
                </li>
              </ul>
    </DraggableElement>
    </div>
  </div>
</template>
<script lang="ts">
import axios, { AxiosResponse } from "axios";
import DraggableElement from '../components/draggable.vue'
export default defineComponent({
  components: {
    DraggableElement
  },
  setup() {
    const draggableElements = ref(null)
    const state = reactive({
      tableName: "ocdto",
      data: [],
      selectedTable: "",
      columns: [],
      expandedTables: [],
    });
    const onDrop = (event) => {
      console.log(event)
      const draggableId = event.dataTransfer.getData('text/plain')
      const draggableElement = draggableElements.value.find((el) => el.$el.id === draggableId)
      console.log()
      if (draggableElement) {
        const offsetX = event.offsetX
        const offsetY = event.clientY
        draggableElement.$el.style.left = `${offsetX - event.dataTransfer.getData('mouseStartX')}px`
        draggableElement.$el.style.top = `${offsetY - event.dataTransfer.getData('mouseStartY')}px`
      }
    };
    
  
    const toggleTableView = (tableName) => {
      const exists = state.expandedTables.find(e => e === tableName)
      if (exists) {
        state.expandedTables = state.expandedTables.filter(e => e !== tableName)
      } else {
        state.expandedTables.push(tableName)
      }
    }
    const fetchDB = () => {
      axios
        .get(`api/columns?db=${state.tableName}`)
        .then((resp: AxiosResponse) => {
          if (resp && resp.data) {
            const groupedByTable = resp.data.reduce(
              (accumulator, currentItem) => {
                const tableName = currentItem.table;
                if (!accumulator[tableName]) {
                  accumulator[tableName] = [];
                }
                accumulator[tableName].push(currentItem);
                return accumulator;
              },
              {},
            );
            state.data = groupedByTable;
          }
        });
    };
    return {
      ...toRefs(state),
      fetchDB,
      onDrop,
      toggleTableView,
      draggableElements
    };
  },
});
</script>
<style lang="scss" scoped>
#index {
  height: 100vh;
  gap: 40px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}
ul {
  border-top: 3px solid white;
  margin: 0;
  padding: 10px 20px;
  list-style: none;
  li {
    list-style: none;
    text-align: left;
  }
}
.tableName {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
</style>
