<template>
  <div ref="draggable" class="draggable" draggable="true" @dragstart="onDragStart">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { ref } from 'vue'

export default defineComponent ({
  setup() {
    const draggable = ref(null)
    const state = reactive({
      offsetX: 0,
      offsetY: 0
    })
    const onDragStart = (event) => {
      event.dataTransfer.setData('text/plain', event.target.id)
      state.offsetX = event.clientX - draggable.value.getBoundingClientRect().left
      state.offsetY = event.clientY - draggable.value.getBoundingClientRect().top
      event.dataTransfer.setData('mouseStartX', state.offsetX)
      event.dataTransfer.setData('mouseStartY', state.offsetY)
    }

    return { draggable, onDragStart }
  },
})
</script>

<style lang="scss" scoped>
.draggable {
  position: absolute;
  width: fit-content;
  min-width: 200px;
  height: fit-content;
  border: 3px solid white;
  background-color: #0b2347; 
  border-radius: 5px;
  cursor: move;
  user-drag: none;
}
</style>
