<template>
    <div class="pagination">
      <button
        class="pagination-button"
        @click="goToFirstPage"
        :disabled="page === 0"
      >
        &laquo;
      </button>
      <button
        class="pagination-button"
        @click="goToPreviousPage"
        :disabled="page === 0"
      >
        &lsaquo;
      </button>
      <span class="pagination-info">
        Page {{ page + 1 }} of {{ totalPages + 1}}
      </span>
      <button
        class="pagination-button"
        @click="goToNextPage"
        :disabled="page === totalPages"
      >
        &rsaquo;
      </button>
      <button
        class="pagination-button"
        @click="goToLastPage"
        :disabled="page === totalPages"
      >
        &raquo;
      </button>
      <select v-model="perPage" @select="changePageSize">
        <option value="10">10</option>
        <option value="10">25</option>
        <option value="10">50</option>
        <option value="10">75</option>
        <option value="10">100</option>
      </select>
    </div>
  </template>
  
  <script lang="ts">
  import { defineComponent } from "vue";
  
  export default defineComponent({
    props: {
      page: {
        type: Number,
        required: true,
      },
      size: {
        type: Number,
        required: true,
      },
      totalElements: {
        type: Number,
        required: true,
      },
      totalPages: {
        type: Number,
        required: true,
      },
    },
    setup(props, { emit }) {
      const state = reactive({
        perPage: props.size
      })
      const goToFirstPage = () => {
        emit("updatePage", 0);
      };
      const goToPreviousPage = () => {
        emit("updatePage", props.page - 1);
      };
      const goToNextPage = () => {
        emit("updatePage", props.page + 1);
      };
      const goToLastPage = () => {
        emit("updatePage", props.totalPages);
      };
  
      const changePageSize = () => {
        emit("changePageSize", state.perPage);
      };
      return {
        goToFirstPage,
        goToPreviousPage,
        goToNextPage,
        goToLastPage,
        changePageSize,
        ...toRefs(state)
      };
    },
  });
  </script>
  <style lang="scss">
  .pagination {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  </style>